@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

:root {

  /* THEME RED */ 
  --bg:  #fff5ec;
  --glass: rgba(255, 255, 255, 0.15);
  --bgHover:  #fcecdc;
  --bg-accent: #eb5555;
  --accent: #f7d56f;
  --accent2: #f0b19e;
  --accent3: #ff808b;
  --black: #121212;

    /* THEME BLUE */ 
  /* --bg:  #fff5ec;
  --bgHover:  #fcecdc;
  --bg-accent: #43afe0;
  --accent3: #ffc446;
  --accent: #5eccff;
  --accent2: #f880a0; */

  /* --bg-accent: #876cff; */
  --yellow: #f7d56f;
  --blue: #6da3f9;
  --peach: #f0b19e;
  --green: #5cd291;
  --darkgreen: #466f58;
  --purple: #7f6fc5;
  --brown: #b69585;
  --pink: #ff808b;
  --text-color: #121212;
  --primary-color: #47b3f1;
  --secondary-color: #dd2989;
  --alert-color: #ca363d;
  --success-color: #58be86;
  --nav-text: #1d1d1d;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
  background-color: var(--bg);
  background-image: radial-gradient(#ddc0bd 0.8px, rgba(255,255,255,0) 0.8px);
  background-size: 18px 18px;
  transition: width 0.1s ease 0s, height 0.4s ease 0s, opacity 0.4s ease 0s; 
  z-index: 999999;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.parallax {
  transform: translateY(0) translate(0);
}