.pricingcard {
    display: flex;
    flex-direction: column;
    width: 360px;
    background-color: var(--bg);
    /* border: 3px solid var(--pink); */
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* box-shadow: 5px 6px 0px 0px var(--pink); */
    margin: 1rem;
    padding: 1rem;
    color: var(--text);
  }

  .accent {
    border: 3px solid var(--bg-accent);
    box-shadow: 5px 6px 0px 0px var(--bg-accent);
  }

  .peach {
    border: 3px solid var(--peach);
    box-shadow: 5px 6px 0px 0px var(--peach);
  }
  
  .black {
    border: 3px solid var(--black);
    box-shadow: 5px 6px 0px 0px var(--black);
  }

  /* .pricingcard:hover {
    box-shadow: 0 1px #666;
    transform: translateX(6px) translateY(5px);
  }
   */
  .card-image {
    height: 200px;
    background-image: url('https://via.placeholder.com/300x200');
    background-size: cover;
    background-position: center;
  }

  .header {
    padding: 0.5rem 1rem;
    background-color: var(--black);
    color: var(--bg);
    display: flex;
    justify-content: space-between;
  }
  
  .cardContent {
    padding: 20px;
    height: 500px;
  }
  
  .cardTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .cardText {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .pricesection {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0rem 3rem 3rem;
  }
  
  .dollar {
    font-size: 42px;
    margin-right: 0.5rem;
    font-weight: 400;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .price {
    font-size: 62px;
    color: var(--black);
    margin: 0;
    font-weight: 600;
  }

  .buttondiv {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 2rem;
  }
