.button {
    background-color: var(--bg-accent);
    color: #ffffff;
    border: none;
    padding: 1rem 1rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 8px;
    box-shadow: 5px 6px 0px 0px #000000;
    border: 2px solid var(--bg-accent);
    margin: 1rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.button:hover{
    background-color: var(--bg-accent);
    box-shadow: 0 1px #666;
    transform: translateX(6px) translateY(5px);
  }


  .button2 {
    background-color: var(--bg);
    color: var(--bg-accent);
    border: none;
    padding: 1rem 1rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 8px;
    box-shadow: 5px 6px 0px 0px #000000;
    border: 2px solid var(--bg-accent);
    margin: 1rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.button2:hover {
    background-color: #ffffff00;
    box-shadow: 0 1px #666;
    transform: translateX(6px) translateY(5px);
  }

  .button2:active {
    background-color: var(--bgHover);
    box-shadow: 0 1px #666;
    transform: translateX(6px) translateY(5px);
  }

  .buttonblack {
    background-color: var(--bg);
    color: var(--black);
    border: none;
    padding: 1rem 1rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 8px;
    box-shadow: 5px 6px 0px 0px #000000;
    border: 2px solid var(--black);
    margin: 1rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.buttonblack:hover {
    background-color: #ffffff00;
    box-shadow: 0 1px #666;
    transform: translateX(6px) translateY(5px);
  }

  .cta {
    position: relative;
    background-color: var(--bg-accent);
    color: #ffffff;
    border: none;
    padding: 1rem 1rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 8px;
    box-shadow: 5px 6px 0px 0px #000000;
    border: 2px solid var(--bg-accent);
    margin: 2.5rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.cta:hover{
    background-color: var(--bg-accent);
    box-shadow: 0 1px #666;
    transform: translateX(6px) translateY(5px);
  }

  .ctawrapper
  {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }