.square {
    position: absolute;
    top: 6rem;
    right: -300px;
    overflow-x: none;
    background-color: var(--accent2);
    width: 35rem;
    height: 50rem;
    border-radius: 3rem;
    Rotate: -25deg;
    animation: fadeInAnimationRight 1.5s ease-in-out;
    z-index: -1;
}

.square2 {
    position: absolute;
    top: -5rem;
    left: -240px;
    overflow-x: none;
    background-color: var(--accent3);
    width: 35rem;
    height: 35rem;
    border-radius: 3rem;
    rotate: -25deg;
    animation: fadeInAnimationLeft 1.5s ease-in-out;
    z-index: -1;
}

.square3 {
    position: absolute;
    top: 35rem;
    left: 10rem;
    overflow-x: none;
    background-color: var(--accent);
    width: 20rem;
    height: 16rem;
    border-radius: 2rem;
    rotate: 15deg;
    animation: fadeInAnimationLeft 1.5s ease-in-out;
    z-index: -1;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

@keyframes fadeInAnimationLeft {
    0% {
        opacity: 0;
        transform:translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInAnimationRight {
    0% {
        opacity: 0;
        transform:translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 900px) {
    .square {
        position: absolute;
        top: -10rem;
        right: 13%;
        overflow-x: hidden;
        background-color: var(--accent2);
        width: 15rem;
        height: 20rem;
        border-radius: 3rem;
        Rotate: -25deg;
        animation: fadeInAnimationRight 1.5s ease-in-out;
        z-index: -1;
    }

    .square2 {
        position: absolute;
        top: -5rem;
        left: -220px;
        overflow-x: none;
        background-color: var(--accent3);
        width: 15rem;
        height: 25rem;
        border-radius: 3rem;
        rotate: -25deg;
        animation: fadeInAnimationLeft 1.5s ease-in-out;
        z-index: -1;
    }

    .square3 {
        position: absolute;
        top: 28rem;
        left: 12rem;
        overflow-x: none;
        background-color: var(--accent);
        width: 10rem;
        height: 8rem;
        border-radius: 2rem;
        rotate: 15deg;
        animation: fadeInAnimationLeft 1.5s ease-in-out;
        z-index: -1;
    }
}