.customShapeDividerTop {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.customShapeDividerTop svg {
    position: relative;
    display: block;
    width: calc(142% + 1.3px);
    height: 136px;
}

.customShapeDividerTop .shapeFill {
    fill: #FCFCFC;
}