.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    padding: 2rem 6rem;
    height: 6rem;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.menuWrapper ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar li {
    list-style: none;
    padding: 0 1rem;
}

.navLink:hover {
    color: var(--bg-accent);
}

.navbar a {
    text-decoration: none;
    padding: 0 1rem;
}

.navLink {
    color: var(--nav-text);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--nav-text);
}
.logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--nav-text);
}

.hamburger {
    display: none;
    position: absolute;
    top: 1.5em;
    right: 1.5em;
}

@media screen and (max-width: 900px) {

    .logo {
        margin: 2.5rem;
    }

    .navbar {
        padding: 0;
    }

    .hamburger {
        display: block;
        font-size: 1.5rem;
        color: var(--nav-text);
        cursor: pointer;
    }

    .menuWrapper {
        position: absolute;
        width: 100%;
        height: 100vh;
        top:0;
        left: 0;
    }

    .menuWrapper ul {
        display: flex;
        flex-direction: column;
    }

    .menuWrapper li {
        padding: 2rem 0;
        text-align: center;
        width: 70%;
    }

    .menuWrapper button {
        margin-top: 2rem;
    }

}